body {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #d2d2d2;
}

button, input {
	font-family: 'Roboto', sans-serif;
}

menu {
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}

menu > div {
	display: flex;
	flex-direction: column;
	row-gap: 0.5em;
}

canvas {
	margin: auto;
}